@media (min-width: 2px) {
    @import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;1,500;1,600&display=swap');

    .aviso {
        display: none
    }
    .scroll-downs {
        position: flex;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;

        width: 34px;
        height: 55px;
    }

    .mousey {
        width: 3px;
        padding: 10px 15px;
        height: 35px;
        border: 2px solid #fff;
        border-radius: 25px;
        opacity: 0.75;
        box-sizing: content-box;
    }

    .scroller {
        width: 3px;
        height: 10px;
        border-radius: 25%;
        background-color: #fff;
        animation-name: scroll;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(.15, .41, .69, .94);
        animation-iteration-count: infinite;
    }

    @keyframes scroll {
        0% {
            opacity: 0;
        }

        10% {
            transform: translateY(0);
            opacity: 1;
        }

        100% {
            transform: translateY(15px);
            opacity: 0;
        }
    }

    .page-experience {

        width: 100vw;
        padding-top: 100px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .page-experience .title {
        margin: 0 !important;
        padding: 0 6vh 0 6vh;
        width: max-content;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 700;
        font-size: 6.5vh;
        left: 10%;
    }

    .page-experience .project-subtitle {
        color: white;
        text-align: center;
        margin: 0px 3vw 30px 0;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 700;
        font-size: 3vh;
        left: 10%;

    }



    .experience-content {

        margin-top: 50px;
        margin-left: 20px;
        border: 2px solid #FF4A17;
        color: black;
        width: max-content;
        height: max-content;
        background-color: rgb(39, 39, 39);
        border-radius: 30px;

        height: max-content;
        width: 90vw !important;
        padding: 20px;
    }

    .tools {
        font-family: 'Archivo Black', sans-serif;
        color: white;
    }

    .desc-experience {
        font-family: 'Archivo Black', sans-serif;
        font-size: 2vh;
        letter-spacing: 1px;
        color: white;

    }

    .icons {
        margin: 10px;
        text-align: center;
        align-items: center;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        position: relative;
        cursor: pointer;
        transition: ease 1s;
    }

    .icons:hover {
        transform: scale(1.2);
        background-color: rgba(255, 255, 255, 0.9);
        ;
    }

}

@media (max-width: 770px) {}