@import 'https://fonts.googleapis.com/css2?family=Russo+One&display=swap';

.cs-site_header {
    position: relative;
    z-index: 101;
}
.cs-site-branding {
    display: inline-block;
    max-width: 180px;
}
@media screen and (width < 900px) {
    .cs-main_header_center {
        position: absolute;
        top: 10px!important;
    }
    .cs-munu_toggle{
        position: fixed!important;   
        top: 30px!important;
        right:  10px!important;
    }
}
.combo-sidebar .rw-widget-input {
    color: white;
    font-family: Montserrat, sans-serif;
    background-color: black !important;
}

.rw-widget-input {
}
.rw-slide-transition {
    background-color: rgb(21, 21, 21)!important;
    border: none;
}
.rw-list-option{

    color: #fff!important;
}
.rw-list-option:hover{
background-color: #000!important;
border-color: rgb(175, 38, 0)!important;
}
.rw-state-focus{
    background-color: rgb(175, 38, 0)!important;
    border: none!important;
    }
.combo-sidebar .rw-widget-picker {
    display: grid;
    overflow: hidden;
    min-height: 38px;
    background-color: #fff;
    border: #ffffff 1px solid;
    border-radius: 6px;
    outline: none;
    width: 100%;
}