.st-preloader {
    position: fixed;
    top: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    background-color: rgb(0 0 0 / 40%);
    backdrop-filter: blur(20px);
}

.st-preloader .st-preloader-in {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
}

.st-preloader .st-preloader-in::after {
    content: "";
    border-radius: inherit;
    position: absolute;
    height: 100%;
    width: 100%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
   }

    100% {
        transform: rotate(360deg);
   }
}
