@import 'https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap';
@import "https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap";
@import 'https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;1,500;1,600&display=swap';

    .icon-projects path {
        color: white;
    }

    .default-project{
        background-size: cover;
        min-height: 100dvh;
    }
    .parallax-wrap {
        z-index: 0;
        position: fixed;
        height: 100dvh;
        width: 100vw;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .parallax-wrap img:nth-child(1) {
        top: 0%;
        left: -5vw;
        height: 110vh;
        width: 110vw;
        clip-path: polygon(35% 0, 65% 0, 100% 50%, 65% 100%, 35% 100%, 0% 50%);
    }

    .page-projects .title {
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 700;
        font-size: 6.5vh;
        left: 10%;
    }



    .page-projects {
        z-index: 0;
        height: max-content;
        width: 99vw;
        padding-bottom: 10vh;
        padding-top: 100px;
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .carousel-titles{
        font-family: 'Archivo Black', sans-serif;
        transition: all 2s;
        font-size: 30px;
    }

    .hermes-project {
        margin-right: 5vw;
        background: rgb(174 118 34);
        background: linear-gradient(164deg, rgb(255 153 0) 15%, rgb(255 64 50) 48%, rgb(255 153 0) 83%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .vergs-tattoo {
        font-size: 30px;
        background: rgb(174 118 34);
        background: linear-gradient(164deg, rgb(217, 217, 217) 40%, rgb(230 0 255) 48%, rgb(203, 203, 203) 57%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .thiago-adv {
        background: rgb(174 118 34);
        background: linear-gradient(164deg, rgb(255 255 255) 15%, rgb(255 255 255) 48%, rgb(151 151 151) 83%);
        background-clip: text;
        -webkit-text-fill-color: transparent;

    }


    .button-desc {
        margin-left: 10px !important;
        border-radius: .25rem;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 400;
        padding-left: 25px;
        padding-right: 25px;
        color: #fff;
        height: 40px;
        font-size: 10px;
        font-family: 'Archivo Black', sans-serif;
        line-height: 14px;
        letter-spacing: 1.2px;
        transition: .2s .1s;
        border: 0 solid;
        overflow: hidden;
    }

    .side-infos {
        background-image: linear-gradient(90deg, #302852, #6220fb);
    }

    .side-infos:hover {
        cursor: pointer;
        transition: all .3s ease-in;
        padding-right: 30px;
        padding-left: 30px;
        box-shadow: 1px 3px 15px 0 #6220fb;
        box-shadow: 1px 3px 15px 0 #6220fb;
        box-shadow: 1px 3px 15px 0 #6220fb;

    }

    .side-production {
        background-image: linear-gradient(90deg, #945b11, #f90);
    }

    .side-production:hover {
        cursor: pointer;
        transition: all .3s ease-in;
        padding-right: 30px;
        padding-left: 30px;
        box-shadow: 1px 3px 15px 0 #f90;
        box-shadow: 1px 3px 15px 0 #f90;
        box-shadow: 1px 3px 15px 0 #f90;

    }



    #modalProject .modal-dialog {
        max-width: 90vw !important;
        max-height: 70vh !important;

    }

    #modalProject .modal-content {
        height: 100% !important;
        background-color: rgba(0, 0, 0, 0.6);
        border: 2px solid rgb(255, 72, 0);
        background-size: contain;
        box-shadow: 0 0 20px 1px #ffbb7696;
        
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(4px);
    }
    #modalProject .modal-body p{
        font-family: Montserrat, sans-serif;
        font-size: 1.7rem;
        text-align: center;
    }
    #modalProject .modal-header p {
        color: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5vw;
        font-family: 'Archivo Black', sans-serif;
        font-size: 2rem;
        margin: 0;
        background: rgb(174 118 34);
        background: linear-gradient(164deg, rgb(174 118 34 / 100%) 15%, rgb(255 255 255) 48%, rgb(174 118 34 / 100%) 83%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #modalProject .modal-header button {
        font-size: 2rem;
        color: white!important;
    }

    .project-info-modal {
        width: 90%;
        height: 80vh;
    }

    #modalProject .modal-header {
        border: none !important;
    }

    .slider-card .box {
        margin-left: 5px;
        width: 60vw;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        
        backdrop-filter: blur(4px);
        border-radius: .7rem;
        transition: all ease .3s;
        box-shadow: 0 0 20px 1px #ffbb763f;
    }
    .slick-dots {
        bottom: 100% !important;

        li button::before,
        li button::before {
            transition: all 1s;
            background-color: black;
            opacity: 1 !important;
            border: 2px solid rgb(255, 72, 0);
            border-radius: 50%;
            display: inline-block;
            height: 12px;
            width: 15px;

        }

        li.slick-active button::before {
            opacity: 1 !important;
            background-color: #fff;
        }
    }

    .slick-arrow::before{
        //mudar font-size se for alterar tamanho da seta
    }

    //lock do tamanho da img pela width
    .imgSlider {
        background-color: rgb(0, 0, 0, 0);
        width: 50vw !important;
    }

@media (width <= 900px) {
    .slider-card .box {
        width: 93vw;
    }
    .parallax-wrap {
        display: none;
    }
    .slick-arrow{
      display: none!important;
    }
    .imgSlider {
        width: 90vw !important;
    }
}
