.page-repos{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    padding: 10px;
    background-color: #0000;
    padding-top: 100px!important;
    overflow: hidden;
    background-size: cover;


}

.table-repos{
    max-width: 90vw!important;
    height: max-content;
    overflow-x: scroll;
    background-color: rgb(43 43 43 / 0%);
    padding: 10px;
    border-radius: 10px;
}

.page-repos .title{
    color: white;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

.table-striped thead tr th{
    background: rgb(65 65 65 / 0%);
  
}
.table-striped thead tr th:last-child {
    border-top-right-radius: 10px!important;
    /* Estilos para o último elemento filho da classe .table-repos */
}
.table-striped thead tr th:first-child {
    border-top-left-radius: 10px!important;
    /* Estilos para o último elemento filho da classe .table-repos */
}
 .custom-table  {
    padding: 609px!important;
 }

.page-link{
    background-color: rgb(75, 75, 75)!important;
    border-color: rgb(61 61 61)!important;
    color: rgb(206 206 206)!important;
 }

 .active .page-link {
    background-color: #000!important;
    color: rgb(255 94 0)!important;
 }
 