@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
 .cs-site_header {
	 position: relative;
	 z-index: 101;
}

.front {
	border: 3px solid #c300ff;
	background: #222229;
	color: #fff;
	transform: translate3d(0, 0, 1em);
}

.cs-nav .cs-nav_list .active {
	color: rgb(255, 255, 255);
	text-decoration: underline;
	text-shadow: 3px 2px 3px rgba(255,255,255,0.6);
	
}
 .cs-site_header .cs-btn.cs-style6 {
	 font-size: 16px;
}
 .cs-site-branding {
	 display: inline-block;
	 max-width: 180px;
}
 .cs-site_header {
	 position: absolute;
	 width: 100%;
	 left: 0;
	 top: 10px;
	 transition: all 0.4s ease;
}
 .cs-site_header.cs-style1 .cs-main_header_in, .cs-site_header.cs-style1 .cs-top_header_in {
	 display: flex;
	 align-items: center;
	 flex-wrap: wrap;
	 justify-content: space-between;
	 height: 90px;
	 position: relative;
}
 .cs-site_header.cs-style1 .cs-main_header_right {
	 display: flex;
	 align-items: center;
	 height: 100%;
}
 .cs-site_header.cs-style1.cs-sticky-active {
	 background-color: white;
	 box-shadow: 0 10px 10px -10px rgba(33, 43, 53, 0.1);
}
 .cs-site_header.cs-style1 .cs-icon_btn {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 width: 45px;
	 height: 45px;
	 transition: all 0.3s ease;
	 cursor: pointer;
	 border: 3px solid currentColor;
	 border-radius: 50%;
	 color: rgb(255, 255, 255);
}
 .cs-site_header.cs-style1 .cs-icon_btn .cs-icon_btn_in {
	 width: 18px;
	 height: 16px;
	 line-height: 0;
	 cursor: pointer;
	 position: relative;
	 text-align: left;
	 overflow: hidden;
}
 .cs-site_header.cs-style1 .cs-icon_btn .cs-icon_btn_in span {
	 display: inline-block;
	 position: absolute;
	 height: 2.4px;
	 width: 100%;
	 border-radius: 0;
	 background-color: currentColor;
	 color: inherit;
	 vertical-align: top;
	 transition: 0s ease-in-out;
	 border-radius: 3px;
}
 .cs-site_header.cs-style1 .cs-icon_btn .cs-icon_btn_in span:nth-child(1) {
	 transform: translate(0, -7px);
	 width: calc(100% - 4px);
}
 .cs-site_header.cs-style1 .cs-icon_btn .cs-icon_btn_in span:nth-child(2) {
	 transform: translate(0, 0);
	 width: calc(100% - 4px);
}
 .cs-site_header.cs-style1 .cs-icon_btn .cs-icon_btn_in span:nth-child(3) {
	 transform: translate(0, 7px);
}
 .cs-site_header.cs-style1 .cs-icon_btn .cs-icon_btn_in span:nth-child(4) {
	 transform: translate(0, 14px);
}
 .cs-site_header.cs-style1 .cs-icon_btn:hover .cs-icon_btn_in span {
	 transition: 0.3s ease-in-out;
}
 .cs-site_header.cs-style1 .cs-icon_btn:hover .cs-icon_btn_in span:nth-child(1) {
	 transform: translate(0, 0);
}
 .cs-site_header.cs-style1 .cs-icon_btn:hover .cs-icon_btn_in span:nth-child(2) {
	 transform: translate(0, 7px);
	 width: 100%;
}
 .cs-site_header.cs-style1 .cs-icon_btn:hover .cs-icon_btn_in span:nth-child(3) {
	 transform: translate(0, 14px);
}
 .cs-site_header.cs-style1 .cs-icon_btn:hover .cs-icon_btn_in span:nth-child(4) {
	 transform: translate(0, 21px);
}
 .cs-site_header.cs-style1 .cs-action_box {
	 display: flex;
	 align-items: center;
}
 .cs-site_header.cs-style1 .cs-action_box .cs-action_value {
	 margin-left: 15px;
}
 .cs-site_header.cs-style1 .cs-action_box > *:not(:last-child) {
	 margin-right: 35px;
}
 .cs-site_header.cs-style1 .cs-btn {
	 padding: 13px 15px;
}
 .cs-site_header_full_width .container {
	 max-width: 100%;
	 padding: 0 115px;
}
 .cs-site_header_style1 {
	 border-bottom: 1px solid #1a188d;
}
 .cs-site_header_style1 .cs-main_header_right {
	 display: flex;
	 align-items: center;
}
 .cs-site_header_style1 .cs-nav + .cs-header_toolbox.cs-center {
	 margin-left: 35px;
}
 .cs-site_header_style1 .cs-nav .cs-nav_list > li.current-menu-item > a:before {
	 bottom: -4px;
	 background-color: white;
}
 .cs-side_header {
	 position: fixed;
	 top: 0;
	 right: 0px;
	 width: 100%;
	 z-index: 1000;
	 height: 100vh;
	 opacity: 0;
	 visibility: hidden;
	 transition: all 0.4s ease;
}
 .cs-side_header .cs-side_header_overlay {
	 background-color: rgba(0, 0, 0, 0.5);
	 height: inherit;
	 width: inherit;
	 left: inherit;
	 top: inherit;
	 position: inherit;
	 cursor: zoom-out;
	 transition: all 0.4s ease;
	 opacity: 0;
}
 .cs-side_header .cs-side_header_in {
	 width: 500px;
	 height: 100vh;
	 background-color: #181818;
	 flex: none;
	 margin-left: auto;
	 overflow: auto;
	 padding: 90px 50px 50px 50px;
	 position: relative;
	 z-index: 2;
	 right: -500px;
	 transition: all 0.4s ease;
}
 .cs-side_header .cs-side_header_heading {
	 font-size: 22px;
	 line-height: 1.4em;
	 margin: 0;
}
 .cs-side_header .cs-side_header_title {
	 font-size: 16px;
	 text-transform: uppercase;
	 margin-bottom: 20px;
}
 .cs-side_header .cs-side_header_box {
	 padding: 35px 0;
}
 .cs-side_header .cs-close {
	 opacity: 0;
}
 .cs-side_header.active {
	 opacity: 1;
	 visibility: visible;
}
 .cs-side_header.active .cs-side_header_overlay, .cs-side_header.active .cs-close {
	 opacity: 1;
}
 .cs-side_header.active .cs-side_header_in {
	 right: 0;
}
 .cs-side_header .cs-side_header_shape {
	 height: 257px;
	 width: 257px;
	 overflow: hidden;
	 position: absolute;
	 pointer-events: none;
	 z-index: -1;
	 bottom: 0;
	 right: 0;
}
 .cs-side_header .cs-side_header_shape::before {
	 content: '';
	 position: absolute;
	 height: 100%;
	 width: 100%;
	 right: -90px;
	 bottom: -80px;
	 overflow: hidden;
	 background-color: #000;
	 border-radius: 50%;
}
 .cs-close {
	 position: fixed;
	 right: 30px;
	 top: 30px;
	 height: 25px;
	 width: 25px;
	 border-radius: 50%;
	 border: none;
	 background-color: transparent;
	 color: #fff;
	 cursor: pointer;
	 z-index: 2;
	 z-index: 100;
}
 .cs-close::before, .cs-close::after {
	 content: '';
	 position: absolute;
	 width: 50%;
	 height: 2px;
	 background-color: currentColor;
	 left: 50%;
	 top: 50%;
	 margin-left: -25%;
	 margin-top: -1px;
	 transform: rotate(-45deg);
}
 .cs-close::before {
	 transform: rotate(45deg);
}
 .cs-close:hover {
	 color: white;
	 transform: scale(1.05);
}
 @media screen and (max-width: 1199px) {
	 .cs-main_header .container {
		 max-width: 100%;
	}
	 .cs-site_header.cs-style1 .cs-nav {
		 display: flex;
	}
}
 .cs-nav ul {
	 margin: 0;
	 padding: 0;
	 list-style: none;
}
 .cs-sticky_header {
	margin-top: -10px;
	background-color: rgb(0, 0, 0, 0.3);
	 position: fixed !important;
	 width: 100%;
	 z-index: 999;
	 transition: all 0.4s ease;
}
 .cs-sticky_header_active {
	 top: 0px;
	 background-color: #000;
}
 @media screen and (min-width: 900px) {
	 .cs-main_header {
		 position: relative;
	}
	 .cs-main_header .container-fluid {
		 padding-right: 40px;
		 padding-left: 40px;
	}
	 .cs-main_header_center, .cs-top_header_center {
		 position: absolute;
		 left: 50%;
		 top: 50%;
		 transform: translate(-50%, -50%);
	}
	 .cs-site_header.cs-style1 .cs-main_header_center {
		 display: flex;
		 justify-content: center;
		 align-items: center;
		 height: 100%;
		 width: 100%;
		 max-width: calc(100% - 300px);
	}
	 .cs-site_header.cs-style1 .cs-main_header_left {
		 height: 100%;
		 display: flex;
		 justify-content: center;
		 align-items: center;
	}
	 .cs-nav {
		
		font-family: 'Russo One', sans-serif;
		font-size: 30px!important;
		 display: flex;
		 align-items: center;
		 height: 100%;
		 font-size: 15px;
		 line-height: 1.6em;
		 color: white;
	}
	 .cs-nav .cs-nav_list {
		 display: flex !important;
		 flex-wrap: wrap;
		 height: inherit;
	}
	 .cs-nav .cs-nav_list > li {
		 margin-right: 50px;
		 height: inherit;
	}
	 .cs-nav .cs-nav_list > li:last-child {
		 margin-right: 0;
	}
	 .cs-nav .cs-nav_list > li > a {
		text-decoration: none;
		color: #ff6600;
		 padding: 10px 0;
		 display: inline-flex;
		 position: relative;
		 height: inherit;
		 align-items: center;
	}
	.cs-nav .cs-nav_list > li > a:hover {
		color: white;
		transition: 0.5s;
	}
	 .cs-nav .cs-nav_list > li > ul {
		 left: 0;
		 top: calc(100% + 15px);
	}
	 .cs-nav .cs-nav_list > li:hover > ul {
		 top: 100%;
		 opacity: 1;
		 visibility: visible;
		 transition: all 0.4s ease;
	}
	 .cs-nav .cs-nav_list > li.menu-item-has-children > a {
		 position: relative;
	}
	 .cs-nav .cs-nav_list > li.menu-item-has-children > a::after {
		 content: '';
		 display: inline-block;
		 height: 8px;
		 width: 8px;
		 border: 2px solid currentColor;
		 transform: rotate(45deg);
		 border-left: 0;
		 border-top: 0;
		 margin-left: 6px;
		 position: relative;
		 top: -2px;
		 border-radius: 0px 0px 2px 0px;
	}
	 .cs-nav .cs-nav_list li:not(.cs-mega-menu) {
		 position: relative;
	}
	
}
 @media screen and (max-width: 899px) {
	/*Mobile Menu Button*/
	
	@keyframes show-down-header {
        0% { margin-top: -20vh; }
        100% {  margin-top: 0;}
      }
	 .cs-nav .cs-nav_list {
		animation: show-down-header 1s ;
		 width: 100vw;
		 background-color: rgb(0, 0, 0, 0.4);
		 -webkit-backdrop-filter: blur(20px);
		 backdrop-filter: blur(20px);
		 padding: 10px 0;
		 display: none;
		 top: 100%;
		 border-top: 1px solid #4d4d4d 52;
		 border-bottom: 1px solid #4d4d4d 52;
		 overflow: auto;
		 max-height: calc(100vh - 80px);
		 line-height: 1.6em;
	}
	.cs-nav .cs-nav_list a{
		color: #fff;
		text-decoration: none;

		font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 2.5vh;
    color: #ffffff;
    text-align: start;
    margin-left: 4%;
	}
	 .cs-nav .cs-nav_list ul {
		 padding-left: 15px;
		 display: none;
	}
	 .cs-nav .cs-nav_list .cs-munu_dropdown_toggle.active + ul {
		 display: block;
	}
	 .cs-nav .cs-nav_list a {
		 display: block;
		 padding: 8px 20px;
	}
	 .cs-nav .menu-item-has-children {
		 position: relative;
	}
	 .cs-munu_toggle {
		 display: inline-block;
		 width: 30px;
		 height: 27px;
		 cursor: pointer;
		 position: absolute;
		 top: 27px;
		 right: 30px;
	}
	 .cs-munu_toggle span, .cs-munu_toggle span:before, .cs-munu_toggle span:after {
		 width: 100%;
		 height: 2px;
		 background-color: currentColor;
		 display: block;
	}
	 .cs-munu_toggle span {
		 margin: 0 auto;
		 position: relative;
		 top: 12px;
		 transition-duration: 0s;
		 transition-delay: 0.2s;
	}
	 .cs-munu_toggle span:before {
		 content: '';
		 position: absolute;
		 margin-top: -9px;
		 transition-property: margin, transform;
		 transition-duration: 0.2s;
		 transition-delay: 0.2s, 0s;
	}
	 .cs-munu_toggle span:after {
		 content: '';
		 position: absolute;
		 margin-top: 9px;
		 transition-property: margin, transform;
		 transition-duration: 0.2s;
		 transition-delay: 0.2s, 0s;
	}
	 .cs-site_header.cs-style1 .cs-munu_toggle {
		 top: 50%;
		 right: 0px;
		 margin-top: -13px;
	}
	 .cs-toggle_active span {
		 background-color: rgba(0, 0, 0, 0);
		 transition-delay: 0.2s;
	}
	 .cs-toggle_active span:before {
		 margin-top: 0;
		 transform: rotate(45deg);
		 transition-delay: 0s, 0.2s;
	}
	 .cs-toggle_active span:after {
		 margin-top: 0;
		 transform: rotate(-45deg);
		 transition-delay: 0s, 0.2s;
	}
	 .cs-header_toolbox {
		 margin-right: 50px;
	}
	 .cs-nav .cs-nav_list a {
		 position: relative;
	}
	 .cs-site_header.cs-style1 .cs-main_header_in {
		 height: 80px;
	}
	 .cs-hamburger span {
		 height: 3px;
	}
	 .cs-site_header .current-menu-item > a:before {
		 display: none;
	}
	 .cs-site_header.cs-style1.cs-type4 .cs-main_header_in {
		 padding: 0;
		 box-shadow: none;
		 border-radius: 0px;
		 margin-top: 0;
		 background-color: transparent;
	}
	 .cs-site_header.cs-style1 {
		 top: 0;
	}
	 .cs-toolbox {
		 margin-right: 45px;
	}
	 .cs-site_header.cs-style1 .cs-icon_btn {
		 width: 38px;
		 height: 38px;
	}
	 .cs-toolbox, .cs-side_header {
		 display: none;
	}
	 .cs-site_header_full_width .container {
		 max-width: 100%;
		 padding: 0 15px;
	}
}
 @media screen and (max-width: 991px) {
	 .cs-site_header .container {
		 max-width: 100%;
	}
	 .cs-site_header.cs-style1 .cs-action_box > *:not(:last-child) {
		 margin-right: 25px;
	}
	 .cs-site_header.cs-style1 .cs-btn {
		 padding: 8px;
	}
}
 @media screen and (max-width: 575px) {
	 .cs-hamburger_wrap .cs-hamburger {
		 margin-right: 0;
	}
	 .cs-site_header.cs-style1 .cs-btn span {
		 display: none;
	}
	 .cs-site_header.cs-style1 .cs-btn svg {
		 margin-right: 0;
		 width: 20px;
		 height: 20px;
	}
}
 